# diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.3.0 Feb  1 2022 / 20:14:54 (3267f0417) MSP API: 1.44
# config: manufacturer_id: TMTR, board_name: TMOTORF7, version: c2b8c0d3, date: 2021-06-18T03:42:42Z

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

board_name TMOTORF7
manufacturer_id TMTR
mcu_id 0037002e3338511839393832
signature 

# name: Switchback

# feature
feature -RX_PARALLEL_PWM
feature RX_SERIAL
feature TELEMETRY

# serial
serial 0 64 115200 57600 0 115200
serial 2 2048 115200 57600 0 115200
serial 4 1 115200 57600 0 115200

# beacon
beacon RX_LOST
beacon RX_SET

# aux
# quad 1
aux 0 0 0 1700 2100 0 0
aux 1 27 6 1100 2100 0 0
aux 2 13 3 1700 2100 0 0
aux 3 35 2 1700 2100 0 0
aux 4 36 1 1700 2100 0 0
aux 5 40 0 900 2100 0 0

# quad 2
#aux 0 0 0 1700 2100 0 0
#aux 1 27 6 900 1100 0 0
#aux 2 27 6 1350 2100 0 0
#aux 3 13 3 1700 2100 0 0
#aux 4 35 2 1700 2100 0 0
#aux 5 36 1 1700 2100 0 0
#aux 6 40 0 900 2100 0 0

# quad 3
#aux 0 0 0 1700 2100 0 0
#aux 1 27 6 900 1350 0 0
#aux 2 27 6 1500 2100 0 0
#aux 3 13 3 1700 2100 0 0
#aux 4 35 2 1700 2100 0 0
#aux 5 36 1 1700 2100 0 0
#aux 6 40 0 900 2100 0 0

# adjrange
adjrange 0 0 0 900 1300 12 5 0 0

# vtxtable
vtxtable bands 6
vtxtable channels 8
vtxtable band 1 BOSCAM_A A FACTORY    0    0    0    0    0    0    0    0
vtxtable band 2 BOSCAM_B B FACTORY    0    0    0    0    0    0    0    0
vtxtable band 3 BOSCAM_E E FACTORY    0    0    0    0    0    0    0    0
vtxtable band 4 FATSHARK F FACTORY    0 5760    0 5800    0    0    0    0
vtxtable band 5 RACEBAND R FACTORY 5658 5695 5732 5769 5806 5843 5880 5917
vtxtable band 6 IMD6     I FACTORY    0    0    0    0    0    0    0    0
vtxtable powerlevels 3
vtxtable powervalues 14 23 0
vtxtable powerlabels 25 200 0

# vtx
vtx 0 4 0 0 3 900 1300
vtx 1 4 0 0 1 1700 2100
vtx 2 7 5 1 0 975 1025
vtx 3 7 5 2 0 1050 1075
vtx 4 7 5 3 0 1125 1150
vtx 5 7 5 4 0 1175 1225
vtx 6 7 5 5 0 1250 1275
vtx 7 7 5 6 0 1325 1350
vtx 8 7 5 7 0 1375 1425
vtx 9 7 5 8 0 1450 1475

# rxfail
rxfail 8 s 1000

# master
set gyro_lpf1_static_hz = 0
set dyn_notch_count = 2
set dyn_notch_q = 450
set dyn_notch_min_hz = 200
set dyn_notch_max_hz = 650
set gyro_lpf1_dyn_min_hz = 500
set gyro_lpf1_dyn_max_hz = 1000
set acc_calibration = -52,0,237,1
set mag_hardware = NONE
set baro_hardware = NONE
set serialrx_provider = CRSF
set blackbox_sample_rate = 1/8
set blackbox_device = NONE
set min_throttle = 1070
set dshot_bidir = ON
set use_unsynced_pwm = OFF
set motor_pwm_protocol = DSHOT600
set motor_pwm_rate = 480
set bat_capacity = 1400
set vbat_max_cell_voltage = 440
set vbat_min_cell_voltage = 320
set vbat_warning_cell_voltage = 330
set yaw_motors_reversed = ON
set small_angle = 180
set simplified_gyro_filter = OFF
set report_cell_voltage = ON
set osd_units = IMPERIAL
set osd_warn_core_temp = OFF
set osd_rssi_alarm = 42
set osd_cap_alarm = 1200
set osd_alt_alarm = 400
set osd_core_temp_alarm = 85
set osd_vbat_pos = 33
set osd_rssi_pos = 86
set osd_link_quality_pos = 6260
set osd_rssi_dbm_pos = 117
set osd_tim_1_pos = 343
set osd_tim_2_pos = 6484
set osd_flymode_pos = 372
set osd_g_force_pos = 6517
set osd_throttle_pos = 6453
set osd_vtx_channel_pos = 501
set osd_current_pos = 6471
set osd_mah_drawn_pos = 6504
set osd_craft_name_pos = 0
set osd_display_name_pos = 2529
set osd_altitude_pos = 213
set osd_warnings_pos = 14604
set osd_avg_cell_voltage_pos = 6247
set osd_disarmed_pos = 6381
set osd_flip_arrow_pos = 6352
set osd_displayport_device = MSP
set debug_mode = GYRO_SCALED
set rate_6pos_switch = ON
set vtx_band = 5
set vtx_channel = 1
set vtx_power = 3
set vtx_freq = 5658
set displayport_msp_serial = 4
set rpm_filter_fade_range_hz = 100
set name = Switchback
set display_name = KUBBA

profile 0

# profile 0
set dterm_lpf1_dyn_expo = 7
set anti_gravity_gain = 5500
set iterm_relax_cutoff = 20
set iterm_limit = 500
set pidsum_limit_yaw = 1000
set throttle_boost = 2
set p_pitch = 42
set i_pitch = 85
set d_pitch = 42
set f_pitch = 135
set p_roll = 37
set d_roll = 36
set f_yaw = 80
set d_min_roll = 22
set d_min_pitch = 22
set d_max_gain = 35
set d_max_advance = 0
set feedforward_max_rate_limit = 100
set simplified_pids_mode = OFF

profile 1

profile 2

# restore original profile selection
profile 0

rateprofile 0

# rateprofile 0
set roll_rc_rate = 16
set pitch_rc_rate = 16
set yaw_rc_rate = 16
set roll_expo = 56
set pitch_expo = 56
set yaw_expo = 56
set roll_srate = 53
set pitch_srate = 53
set yaw_srate = 53
set tpa_rate = 70
set tpa_breakpoint = 1250
set throttle_limit_type = SCALE

rateprofile 1

# rateprofile 1
set roll_rc_rate = 16
set pitch_rc_rate = 16
set yaw_rc_rate = 16
set roll_expo = 56
set pitch_expo = 56
set yaw_expo = 56
set roll_srate = 53
set pitch_srate = 53
set yaw_srate = 53
set tpa_rate = 70
set tpa_breakpoint = 1250
set throttle_limit_type = SCALE
set throttle_limit_percent = 90

rateprofile 2

# rateprofile 2
set roll_rc_rate = 16
set pitch_rc_rate = 16
set yaw_rc_rate = 16
set roll_expo = 56
set pitch_expo = 56
set yaw_expo = 56
set roll_srate = 53
set pitch_srate = 53
set yaw_srate = 53
set tpa_rate = 70
set tpa_breakpoint = 1250
set throttle_limit_type = SCALE
set throttle_limit_percent = 80

rateprofile 3

rateprofile 4

rateprofile 5

# restore original rateprofile selection
rateprofile 0

# save configuration
save
# 
